.navbar {
  width: 100%;
  height: 100px;
  z-index: 10;
  position: absolute;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  margin: 1rem;
  display: flex;
  color: #fff;
  align-items: center;
}

.navbar .logo .icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

.hamburger {
  display: none;
  padding: 1rem;
}

.navbar .nav-menu {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.navbar li {
  padding: 1rem;
  color: #ffff;
  cursor: pointer;
  font-weight: 500;
}

.hamburger .icon {
  font-size: 1.4rem;
  color: #fff;
}

@media screen and (max-width: 940px) {
  .navbar .hamburger {
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar .active {
    left: 0;
  }

  .navbar li {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  .navbar button {
    font-size: 1.3rem;
  }
}
